.Message {
    border-radius: 10px;
    background-color: rgba(0,0,0 .2);
    backdrop-filter: blur(8px);
    border: 1px solid rgba(255,255,255,0.5);

    display: flex;
    flex-direction: column;
}

.Message-title {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 23px;
    font-weight: 600;
    text-transform: capitalize;
    min-width: 93%;
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 3px;
    display: flex;
    justify-content: center;
    margin: 20px 28px 0 28px;
    background-color: #2ca5e0;
    padding: 10px;
    -webkit-appearance: none;
    -webkit-user-select: none;
    align-items: center;
    outline: none;
    height: 20px;
    background-image: linear-gradient(to top, #D8D9DB 0%, #fff 80%, #FDFDFD 100%);
    box-shadow: inset 1px 1px 5px 0 rgb(146 148 248 / 40%), 1px 1px 25px 10px rgb(146 148 248 / 40%);
    transition: all 0.2s ease;
    color: #606060;
    text-shadow: 0 1px #fff;
    position: relative;
    overflow: hidden;
}

.Message-text {
    font-family: "Source Sans Pro", sans-serif;
}

.Message-form {
    display: flex;
    flex-direction: column;

    position: absolute;
    bottom: 0;
    min-width: 100%;
}







.Message-form-text {
    /*min-width: 700px;
    margin-right: 10px;*/
    border-radius: 3px;
}

.Message-btn {
    background-color: #2ca5e0;
    /*color: white;*/

    /*width: 100px;
    height: 52px;
    padding: 0;
    border-radius: 52px;*/

    padding: 10px;
    -webkit-appearance: none;
    -webkit-user-select: none;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    cursor: pointer;
    width: 100%;
    height: 40px;
    background-image: linear-gradient(to top, #D8D9DB 0%, #fff 80%, #FDFDFD 100%);
    border-radius: 3px;
    border: 1px solid #7d7d82;
    box-shadow: inset 1px 1px 5px 0 rgb(146 148 248 / 40%), 1px 1px 25px 10px rgb(146 148 248 / 40%);
    transition: all 0.2s ease;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #606060;
    text-shadow: 0 1px #fff;
    position: relative;
    overflow: hidden;
}










.Message-chat {
    min-height: 500px;
    display: flex;
    justify-content: space-between;
    margin: 28px;
}

.Message-chat-text {
    min-width: 55%;
    position: relative;
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 3px;
}

.Message-chat-dialog {
    overflow: scroll;
}

.Message-chat-dialog::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

textarea {
    outline: none;
    -moz-appearance: none;
    resize: none;
    white-space: nowrap;
}

.Message-chat-list {
    /*width: 20%;
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 3px;
    margin: 0;*/

    min-width: 20%;
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 3px;
    margin: 0;
    background-color: #2ca5e0;
    padding: 10px;
    -webkit-appearance: none;
    -webkit-user-select: none;
    outline: none;
    height: 100%;
    background-image: linear-gradient(to top, #D8D9DB 0%, #fff 80%, #FDFDFD 100%);
    box-shadow: inset 1px 1px 5px 0 rgb(146 148 248 / 40%), 1px 1px 25px 10px rgb(146 148 248 / 40%);
    transition: all 0.2s ease;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #606060;
    text-shadow: 0 1px #fff;
    position: relative;
    overflow: hidden;
}






