.products-list{
    display: flex;
    justify-content: space-evenly;
}

.desc{
    padding: 15px;
    border: 1px solid #c0c0c040;
}

p{
    margin: 0 0 5px 0;
}

.products-item {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    overflow: hidden;

}

.products-item:hover,
.products-item:hover,
.products-item:hover {
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.16);
}

.products-item:hover img,
.products-item:hover img,
.products-item:hover img {
    filter: brightness(50%);
}

.cart{
    width: 400px;
}

.cart-items-wrap{
    margin: 20px 0;
}

.cart-item{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 10px 0;
}

.cart-item:not(:first-child){
    border-top: 1px solid black;
}

.product-quantity{
    text-align: center;
}

.product-price{
    text-align: right;
}

.cart-summary{
    text-align: right;
}

.buyBtn {
    position: absolute;
    background-image: url('../img/Forma 2.svg');
    background-repeat: no-repeat;
    background-position: 8px;
    border-style: solid;
    border-width: 1px;
    border-color: #ffffff;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0);
    padding-left: 39px;
    padding-right: 13px;
    height: 39px;
    color: #ffffff;
    font-size: 13px;
    font-weight: 700;
    text-decoration: none;
    line-height: 39px;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 68px;
    margin-top: 95px;
    outline: none;
}

.buyBtn:hover {
    box-shadow: 0 0 5px #ffffff;
}

.products-item:hover {
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.16);
}

.products-item:hover img {
    filter: brightness(50%);
}

.buyBtn {
    display: none;
}

.products-item:hover .buyBtn {
    display: flex;
}

.close {
    width: 18px;
    margin-left: 15px;
    margin-top: 3px;
    cursor: pointer;
}