.Message {}

.Message-title {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 23px;
    font-weight: 600;
}

.Message-text {
    font-family: "Source Sans Pro", sans-serif;
}

.Message-form {
    display: flex;
    flex-direction: column;
}